/* Product Page Styles */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600');

#product1,
#product3,
#product5,
#product7 {
	width: 45%;
	display: inline-block;
	border: 2px solid #B03A2E;
	margin: 15px 5% 15px 2.5%;
	border-radius: 5px;
	padding: 2%;

}

#product2,
#product4,
#product6,
#product8 {
	width: 45%;
	display:inline-block;
	border: 2px solid #B03A2E;
	margin: 15px 0;
	border-radius: 5px;
	padding: 2%;
}

.productImage {
	width: 96%;
	justify-content: center;

}

.productTitle {
	text-align: center;
}
.productPrice {
	text-align:center;
}
