/* Index Styles */

.top {
	display: inline-block;
	width: 40%;
	border: 2px solid #B03A2E;
	border-radius: 5px;
	height: 300px;
	margin: 10px 4.5%;
	overflow: hidden;
}

.top img {
	width: 200%;
	height: auto;

}

.bottom {
	width: 90%;
	border: 2px solid #B03A2E;
	border-radius: 5px;
	height: 300px;
	margin: 15px 5%;
	overflow: hidden;
}
.bottom img {
	width:200%;
	height: auto;
}