/* Index Styles */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600');

h2 {
	font-family :"Oswald";
	text-transform: uppercase;
	font-weight: 400;
}

a {
	color: white;
	text-decoration: none;
}

.top-split {
	margin: 0 5%;
}

/*div.top2 span {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}*/

.top1 {
	float: left;
	width: 48%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	height: 300px;
	color: white;
	padding:5px;
	margin: 15px 0;
}

.top2 {
	float: right;
	width: 48%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	height: 300px;
	color: white;
	padding:5px;
	margin:15px 0;
}

.bottom {
	clear: both;
	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	height: 300px;
	margin: 20px 5%;
	color: white;
	padding: 5px;
}


#indexProduct {
	background-image: url(../images/watch10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div#indexProduct:hover {
	opacity: 0.3;
}

#indexMission {
	background-image: url(../images/watch7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div#indexMission:hover {
	opacity: 0.3;
}

#indexTeam {
	background-image: url(../images/watch8-big.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: right;
}

div#indexTeam:hover {
	opacity: 0.3;
}

.cardTitle {
	padding: 0 15px;
}

#indexContact {
	background-image: url(../images/watch9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div#indexContact:hover {
	opacity: 0.3;
}

.cardTitle {
	margin: 10px 0 5px 10px;
}
.top1 a,
.top2 a,
.bottom a {
	width: 100%;
	height: 100%;
}
