/* Mission Page */

.mission {
	height: 400px;
	width: 95%
	margin: 0 auto;
}

.mission-image {
	background-image: url("../images/our-mission.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 40%;
	margin: 0;
	padding: 5px;
	float: left;
}

.mission-text {
	height: 80%;
	padding: 20px;
	width: 55%;
	float: right;
}

p.whisper {
	font-size: .3em;
}

.promise {
	height: 400px;
	width: 95%
	margin: 0 auto;
}

.promise-image {
	background-image: url("../images/our-promise.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 40%;
	margin: 0;
	padding: 5px;
	float: right;
}

.promise-text {
	height: 80%;
	padding: 20px;
	width: 55%;
	float: left;