/* Team Styles */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600');
/*.teambody header {
background-color: #616A6B;
color: #E5E8E8;
}
.teambody div {
height: 200px;
background-color: #616A6B;
border: 1px solid #B03A2E;
border-radius: 5px;
}*/
}
.teambody {
	color: black;
	margin
}
.teambody .img1, .img3 {
float: left;
width: 34%;
height: 250px;
border-radius: 5px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.teambody .img2, .img4 {
float: right;
width: 34%;
height: 250px;
border-radius: 5px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.img1, .img2, .img3, .img4 {
	border-radius: 5px;
	margin: 3px;
}
.img1 {
	background-image: url("../images/germanpocketwatch.jpg");
}
.img2 {
	background-image: url("../images/catwearingwatch.jpg");
}
.img3 {
	background-image: url("../images/veganwatch.jpg");
}
.img4 {
	background-image: url("../images/elfwatch.jpg");
}
.teambody aside {
float: right;
width: 65%;
height: 250px;
background-color:;
text-align: center;

}
.teambody .title, .name {
font-family:"Oswald", sans-serif;

}
.teambody p {

}
.bio {
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: .7%;
	margin: 10px;
	border-radius: 5px
}